.content-container > * + * {
  margin-top: 8px;
}

.all-container {
  height: 100%;
  overflow-y: auto;
}

.all-container > * + * {
  margin-top: 47px;
}

.hover-no-blur:hover {
  filter: blur(0) !important;
}
